{% extends 'info/header.html' %}
{% block content %}
{% load staticfiles %}

<div class=row>
	<div class=col-sm-12 id='home-logo-div'>
		<img id='home-logo' src="{% static 'info/img/hdlogo.png' %}" class="img-responsive" alt='Business Logo'>
	</div>
</div>


<hr class="featurette-divider">
<h1 id='home-welcome'>Welcome</h1>
<br>
<div class='row'>
	<div class=col-sm-2>
	</div>
	<div class=col-sm-8>
    <p id='home-mission-statement'>Et ultra non faciam vos cash
		Aequaliter Nubila Solis Ortus angelus, unavailable page
		Aequaliter Nubila Solis Ortus angelus, unavailable page<p>
  </div>
</div>
<br><br><br>

<hr class="featurette-divider">
{% endblock %}