{% extends 'info/header.html' %}
{% block content %}
{% load staticfiles %}
<br><br>
<h2 id='resources-toc'>Table of Contents</h2>
<div class='resource-buttons'>
	<a href='#outlook-hr'><button type="button" class="btn btn-default btn-md btn-block rr"><h4 class='well-text'>I. Company Outlook</h4></button></a>
	<a href='#history-hr'><button type="button" class="btn btn-default btn-md btn-block rr"><h4 class='well-text'>II. Company History</h4></button></a>
	<a href='#strategy-hr'><button type="button" class="btn btn-default btn-md btn-block rr"><h4 class='well-text'> III. Investment Strategy</h4></button></a>
	<a href='#schwab-hr'><button type="button" class="btn btn-default btn-md btn-block rr" ><h4 class='well-text'> IV. Charles Schwab</h4></button></a>
	<a href='#riskalyze-hr'><button type="button" class="btn btn-default btn-md btn-block rr" ><h4 class='well-text'> V. Riskalyze</h4></button></a>
</div>
<br><br>
<hr id='outlook-hr' class='featurette-divider'>
<br>
<div class="container">
	<div class='row'>
		<div id='r-company-block' class="col-sm-12 well">

			<h2 id='r-company-header'>Company Outlook</h2>
			<p>Aequaliter Nubila Solis Ortus angelus, unavailable page
			Tristique pretium caelo sordida omnia fiunt
			Aequaliter Nubila Solis Ortus angelus, unavailable page
			Tristique pretium caelo sordida omnia fiunt
			Aequaliter Nubila Solis Ortus angelus, unavailable page
			Tristique pretium caelo sordida omnia fiunt
			Et ultra non faciam vos cash
			Aequaliter Nubila Solis Ortus angelus, unavailable page
			Tristique pretium caelo sordida omnia fiunt
			Et ultra non faciam vos cash
			Aequaliter Nubila Solis Ortus angelus, unavailable page
			Aequaliter Nubila Solis Ortus angelus, unavailable page
			Tristique pretium caelo sordida omnia fiunt
			Et ultra non faciam vos cash
			Aequaliter Nubila Solis Ortus angelus, unavailable page</p><br><br>

		</div>
		<div class="col-sm-12">
			<hr id='history-hr' class="featurette-divider">
			<br>
		</div>
		<div id='r-history-block' class='col-sm-12 well'>
			<h2 id='r-history-header'> BUSINESS, Company History</h2>
			<p>Written by the CEO</p>

			<p id='r-history-text'>		
			Scribo hoc phone pro me non loqui
			Et Caucasum transgressa in pulmone exspirare, et somno meo moriar
			Et Caucasum transgressa in pulmone exspirare, et somno meo moriar
			Cordis mei polymitam
			Et comminuet autem, et sic comminuet, Europae Iesu
			Ego fractionis phone meum magnum quod non semper cos somnum
			Distenti sursum ACERVUS densissima
			Appenditis argentum in catbus
			In subway fumigans viridi quasi cactus
			Est etiam vera mea vita, puer actor
			Dico vobis quod vos volo ut perficiat opus
			Ego autem tamquam power rex Kai
			Ego me duro fumans ventum volat altus
			Nec satis circo ludios interponebat equitantes nobis de nobis de equitantes
			</p>
			<br><br>
		</div>
		<div class="col-sm-12">
			<hr id='strategy-hr' class="featurette-divider">
			<br>
		</div>
		<div id='r-investment-block' class="col-sm-12 well">
			<h2 id='r-investment-header'>Investment Strategy</h2>
			<p>Altum humilis sum in spe et in caritate
			Et quod nihil est horum columba
			Papilionibus, et obtinuit albulus columbus
			Furiosa sum et ego novi
			Ne loquaris ad fututorum causam sciunt sum
			Ego sum anxius quod suus 'iustus qui nihil de me
			Ego sum anxius de te, ad hoc quod factum est?
			Equitantes agmen quotidie una sabbatorum </p>
			<br><br>
		</div>
		<div class="col-sm-12">
			<hr id='schwab-hr' class="featurette-divider">
			<br>
		</div>
		<div id='resource-cs-block' class="col-sm-12 well">
			<img id='rc-cs-pic' src='{% static "info/img/charles-schwab-logo.png" %}' class='img-responsive'>
			<br>
			<blockquote class="blockquote">
				"Don't Let Short-Term Market Movement Distract You From Your Longer-Term Plan" <footer class="blockquote-footer">Charles Schwab</cite></footer>
			</blockquote>
			<div id='r-schwab-login'>
				<br><br>
				<h3 id='schwab-header'>Schwab Alliance Login</h3>
				<p>Schwab Alliance provides clients with convenient access to account information at Schwab. Schwab Alliance allows you to manage certain aspects of your investment accounts directly, and in addition to the guidance of your advisor you have access to Schwab Alliance service representatives that can help you while you are online.</p>
				<a href="https://client.schwab.com/Login/SignOn/CustomerCenterLogin.aspx?&kc=y&sim=y" target="_blank"><button type="button" class="btn btn-default">Login</button></a>
			</div>

		</div>
				<div class="col-sm-12">
					<hr id='riskalyze-hr' class="featurette-divider">
					<br>
				</div>
				<div id='riskalyze-block' class="col-sm-12 well">
					<h2 id='riskalyze-header'> We use Riskalyze </h2>
		      <iframe src="https://www.youtube.com/embed/MnVIYs9aj60?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>
	</div>
	<hr class="featurette-divider">

</div>
{% endblock %}