{% extends 'info/header.html' %}
{% block content %}
{% load staticfiles %}
<div id='services' class="container-fluid">
  <h1 id='services-header'>Services</h1>
  <hr class='featurette-divider'>
  <br>
  <div class="row">
    <div class=col-md-4>
      <div class="card-1">
      
        <img class='services-image' src="{% static 'info/img/transfer1.png' %}" alt="transfer">
        <h2>Rollover</h2>
        <p class='card1-text'>Sol collo meo: Faciam equitare set meum
        Non conscientiam, non respectu: torcular ludere sicut wreccum
        Possedi solis collo sustollam te super occasum
        Big 'S' me reprehendo, omnia summus tech
        Possedi solis collo sustollam te super occasum
        Non conscientiam, non respectu, aer in viribus dope</p>
      </div>
    </div>
    <div class=col-md-4>
      <div class="card-1">

        <img class='services-image' src="{% static 'info/img/tax.png' %}" alt="tax">
        <h2>Tax</h2>
        <p  class='card1-text'>EGO got sol super collum meum, extendens me ad torcular ludere sicut wreccum
        A magnus 'S' me reprehendo, omnia summus tech
        </p>
      </div>
    </div>
    <div class=col-md-4>
      <div class="card-1">

        <img class='services-image' src="{% static 'info/img/retirement.png' %}" alt="retirement">
        <h2>Retirement</h2>
        <p  class='card1-text'>Positum est enim principis Peach
        Sed tu magis ausculta quod loquor non possint praedicare
        Im 'in montibus, in arboribus
        Ego argentum fumigantium istorum, in oculis Sinica
        Ego et succendam tionis et transibo per circuitum
        Faciam captura non sonare
        Pedicabo ego vos quod audistis ab urbe meum est scriptor</p>
      </div>
    </div>
  </div>
  <br class='services-break'>
  <div class="row">
    <div class=col-md-4>
      <div class="card-1">
        <img id='services-investment' src="{% static 'info/img/investment.png' %}" alt="Investment">
        <h2>Investment</h2>
        <p class='card1-text'>Positum est enim principis Peach
        Sed tu magis ausculta quod loquor non possint praedicare
        Im 'in montibus, in arboribus
        Ego argentum fumigantium istorum, in oculis Sinica
        Ego et succendam tionis et transibo per circuitum
        </p>
      </div>
    </div>
    <div class=col-md-4>
      <div class="card-1">
        <img class='services-image' src="{% static 'info/img/allocation.png' %}" alt="allocation" >
        <h2>Allocation</h2>
        <p  class='card1-text'>Mea est urbs: Et positum est,
        Et posuit illud in omnes circum me,
        Vos could experiri et respice ad me
        Sed tu non invenient me:
        Get post me
        Im 'vigilum audiunt sirenibus
        Im 'fumigantium istorum in holocaustum coronas</p>
      </div>
    </div>
    <div class=col-md-4>
      <div class="card-1">
        <img id='services-risk' src="{% static 'info/img/risk.png' %}" alt="risk">
        <h2>Risk</h2>
        <p  class='card1-text'>Mea est urbs: Et positum est,
        Et posuit illud in omnes circum me,
        Vos could experiri et respice ad me
        Sed tu non invenient me:
        Get post me
        Im 'vigilum audiunt sirenibus
        </p>
      </div>
    </div>
  </div>
  <br class="services-break">
  <div class="row">
    <div class=col-md-4>
      <div class="card-1">
        <img class='services-image' src="{% static 'info/img/communication.png' %}" alt="communication">
        <h2>Communication</h2>
        <p  class='card1-text'>Pecuniae absumi spiritu florum horas censeo
        Es non amo mihi, vos mendax
        Im 'in-Im quis sacrificanti
        Ego meum simili opere domum quoque Facienti nequissimum
        Curabitur tristique tristique imperium
        Omnia autem facio adepto altius, numquam defessi</p>
      </div>
    </div>
    <!-- <div class=col-md-8>
      <div id='services-bmodel-div'>
        <hr class="featurette-divider">
        <h2 id='services-bmodel-header'>Our Business Model</h2>
        <br>
        <div id='services-bmodel'>
          <p>We are an independent Investment Advisory firm, registered with the California Department of Business Oversight.  We are fee-based, so that your interests (seeing your account grow in value) and our interests are perfectly aligned.  Additionally, we are a “fiduciary”, meaning your interests always come before our own.<br><br>

          Our fees for managing money for our clients is based upon the total assets under management.  We don’t charge commissions, and work to find ways for our clients to also avoid paying any additional fees or commissions. <br><br> 
          Our minimum account size for new accounts is $500,000. <br><br>

          Our annual filing of Form ADV is available to review.   (link)

          Feel free to contact us for more information.

          We look forward to meeting with you!</p>

        </div>
        <br>
        <div id='services-bmodel-ending'>
          <p>Feel free to contact us for more information.</p>
          <p>We look forward to meeting with you!</p>
        </div>
        <br><br>
        <hr class='featurette-divider'>
      </div>
    </div> -->
  </div>
  <br>
  <hr class='featurette-divider'>


</div>
{% endblock %}

